In [1]:
import pandas as pd 
import warnings 
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("D:\\practice_data_set\\Batsman_Data.csv")
df.head()

,Unnamed: 0,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Player_ID
0,1,DNB,-,-,-,-,-,v India,Nagpur,18-Dec-09,ODI # 2933,Oshane Thomas,49619
1,2,DNB,-,-,-,-,-,v India,Kolkata,24-Dec-09,ODI # 2935,Oshane Thomas,49619
2,3,DNB,-,-,-,-,-,v India,Delhi,27-Dec-09,ODI # 2936,Oshane Thomas,49619
3,4,DNB,-,-,-,-,-,v Bangladesh,Dhaka,04-Jan-10,ODI # 2937,Oshane Thomas,49619
4,5,DNB,-,-,-,-,-,v India,Dhaka,05-Jan-10,ODI # 2938,Oshane Thomas,49619

In [3]:
df.shape

(11149, 13)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11149 entries, 0 to 11148
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11149 non-null  int64
 1   Bat1        11149 non-null  object
 2   Runs        11149 non-null  object
 3   BF          11149 non-null  object
 4   SR          11149 non-null  object
 5   4s          11149 non-null  object
 6   6s          11149 non-null  object
 7   Opposition  11149 non-null  object
 8   Ground      11149 non-null  object
 9   Start Date  11149 non-null  object
 10  Match_ID    11149 non-null  object
 11  Batsman     11149 non-null  object
 12  Player_ID   11149 non-null  int64
dtypes: int64(2), object(11)
memory usage: 1.1+ MB

In [5]:
df.isnull().sum()

Unnamed: 0    0
Bat1          0
Runs          0
BF            0
SR            0
4s            0
6s            0
Opposition    0
Ground        0
Start Date    0
Match_ID      0
Batsman       0
Player_ID     0
dtype: int64

In [6]:
df1 = df.replace("-","0")
df1.head()

,Unnamed: 0,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Player_ID
0,1,DNB,0,0,0,0,0,v India,Nagpur,18-Dec-09,ODI # 2933,Oshane Thomas,49619
1,2,DNB,0,0,0,0,0,v India,Kolkata,24-Dec-09,ODI # 2935,Oshane Thomas,49619
2,3,DNB,0,0,0,0,0,v India,Delhi,27-Dec-09,ODI # 2936,Oshane Thomas,49619
3,4,DNB,0,0,0,0,0,v Bangladesh,Dhaka,04-Jan-10,ODI # 2937,Oshane Thomas,49619
4,5,DNB,0,0,0,0,0,v India,Dhaka,05-Jan-10,ODI # 2938,Oshane Thomas,49619

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11149 entries, 0 to 11148
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11149 non-null  int64
 1   Bat1        11149 non-null  object
 2   Runs        11149 non-null  object
 3   BF          11149 non-null  object
 4   SR          11149 non-null  object
 5   4s          11149 non-null  object
 6   6s          11149 non-null  object
 7   Opposition  11149 non-null  object
 8   Ground      11149 non-null  object
 9   Start Date  11149 non-null  object
 10  Match_ID    11149 non-null  object
 11  Batsman     11149 non-null  object
 12  Player_ID   11149 non-null  int64
dtypes: int64(2), object(11)
memory usage: 1.1+ MB

In [8]:
# df1['Runs'] = df1['Runs'].apply(lambda X : int(X))

In [9]:
# df1['BF'] = df1['BF'].apply(lambda X : int(X))

In [10]:
# df1['SR'] = df1['SR'].apply(lambda X : float(X))

In [11]:
# df1['4s'] = df1['4s'].apply(lambda X : int(X))

In [12]:
# df1['6s'] = df1['6s'].apply(lambda X : int(X))

In [13]:
df1[['Runs','BF','4s','6s']] = df1[['Runs','BF','4s','6s']].apply(lambda X : X.astype(int))

In [14]:
df1.head()

,Unnamed: 0,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Player_ID
0,1,DNB,0,0,0,0,0,v India,Nagpur,18-Dec-09,ODI # 2933,Oshane Thomas,49619
1,2,DNB,0,0,0,0,0,v India,Kolkata,24-Dec-09,ODI # 2935,Oshane Thomas,49619
2,3,DNB,0,0,0,0,0,v India,Delhi,27-Dec-09,ODI # 2936,Oshane Thomas,49619
3,4,DNB,0,0,0,0,0,v Bangladesh,Dhaka,04-Jan-10,ODI # 2937,Oshane Thomas,49619
4,5,DNB,0,0,0,0,0,v India,Dhaka,05-Jan-10,ODI # 2938,Oshane Thomas,49619

In [15]:
df1['SR'] = df1['SR'].apply(lambda X : float(X))

In [16]:
df1.head()

,Unnamed: 0,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Player_ID
0,1,DNB,0,0,0.0,0,0,v India,Nagpur,18-Dec-09,ODI # 2933,Oshane Thomas,49619
1,2,DNB,0,0,0.0,0,0,v India,Kolkata,24-Dec-09,ODI # 2935,Oshane Thomas,49619
2,3,DNB,0,0,0.0,0,0,v India,Delhi,27-Dec-09,ODI # 2936,Oshane Thomas,49619
3,4,DNB,0,0,0.0,0,0,v Bangladesh,Dhaka,04-Jan-10,ODI # 2937,Oshane Thomas,49619
4,5,DNB,0,0,0.0,0,0,v India,Dhaka,05-Jan-10,ODI # 2938,Oshane Thomas,49619

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11149 entries, 0 to 11148
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11149 non-null  int64
 1   Bat1        11149 non-null  object
 2   Runs        11149 non-null  int32
 3   BF          11149 non-null  int32
 4   SR          11149 non-null  float64
 5   4s          11149 non-null  int32
 6   6s          11149 non-null  int32
 7   Opposition  11149 non-null  object
 8   Ground      11149 non-null  object
 9   Start Date  11149 non-null  object
 10  Match_ID    11149 non-null  object
 11  Batsman     11149 non-null  object
 12  Player_ID   11149 non-null  int64
dtypes: float64(1), int32(4), int64(2), object(6)
memory usage: 958.2+ KB

In [18]:
df1['Start Date'] = pd.to_datetime(df1['Start Date'])

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11149 entries, 0 to 11148
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11149 non-null  int64
 1   Bat1        11149 non-null  object
 2   Runs        11149 non-null  int32
 3   BF          11149 non-null  int32
 4   SR          11149 non-null  float64
 5   4s          11149 non-null  int32
 6   6s          11149 non-null  int32
 7   Opposition  11149 non-null  object
 8   Ground      11149 non-null  object
 9   Start Date  11149 non-null  datetime64[ns]
 10  Match_ID    11149 non-null  object
 11  Batsman     11149 non-null  object
 12  Player_ID   11149 non-null  int64
dtypes: datetime64[ns](1), float64(1), int32(4), int64(2), object(5)
memory usage: 958.2+ KB

In [20]:
df1['Opposition'].unique()

array(['v India', 'v Bangladesh', 'v England', 'v Australia',
       'v Pakistan', 'v South Africa', 'v Afghanistan', 'v Ireland',
       'v New Zealand', 'v West Indies', 'v Zimbabwe', 'v U.A.E.',
       'v Sri Lanka', 'v Bermuda', 'v Canada', 'v Netherlands',
       'v Scotland', 'v P.N.G.', 'v Kenya', 'v Asia XI', 'v Hong Kong',
       'v Africa XI'], dtype=object)

In [21]:
df1.duplicated().sum()

0

In [22]:
'v India'.split(" ")[1]

'India'

In [23]:
df1['Opposition'] = df1["Opposition"].apply(lambda x : str(x.split(" ")[1]))

In [24]:
df1["Opposition"].unique()

array(['India', 'Bangladesh', 'England', 'Australia', 'Pakistan', 'South',
       'Afghanistan', 'Ireland', 'New', 'West', 'Zimbabwe', 'U.A.E.',
       'Sri', 'Bermuda', 'Canada', 'Netherlands', 'Scotland', 'P.N.G.',
       'Kenya', 'Asia', 'Hong', 'Africa'], dtype=object)

In [25]:
df1['Opposition']

0             India
1             India
2             India
3        Bangladesh
4             India
            ...
11144       Ireland
11145       Ireland
11146       Ireland
11147      Scotland
11148       Ireland
Name: Opposition, Length: 11149, dtype: object

In [26]:
df1.head()

,Unnamed: 0,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Player_ID
0,1,DNB,0,0,0.0,0,0,India,Nagpur,2009-12-18,ODI # 2933,Oshane Thomas,49619
1,2,DNB,0,0,0.0,0,0,India,Kolkata,2009-12-24,ODI # 2935,Oshane Thomas,49619
2,3,DNB,0,0,0.0,0,0,India,Delhi,2009-12-27,ODI # 2936,Oshane Thomas,49619
3,4,DNB,0,0,0.0,0,0,Bangladesh,Dhaka,2010-01-04,ODI # 2937,Oshane Thomas,49619
4,5,DNB,0,0,0.0,0,0,India,Dhaka,2010-01-05,ODI # 2938,Oshane Thomas,49619

In [28]:
df1.drop(["Unnamed: 0","Match_ID","Player_ID"], axis =1,inplace =True)

In [29]:
df1.head()

  Bat1  Runs  BF   SR  4s  6s  Opposition   Ground Start Date        Batsman
0  DNB     0   0  0.0   0   0       India   Nagpur 2009-12-18  Oshane Thomas
1  DNB     0   0  0.0   0   0       India  Kolkata 2009-12-24  Oshane Thomas
2  DNB     0   0  0.0   0   0       India    Delhi 2009-12-27  Oshane Thomas
3  DNB     0   0  0.0   0   0  Bangladesh    Dhaka 2010-01-04  Oshane Thomas
4  DNB     0   0  0.0   0   0       India    Dhaka 2010-01-05  Oshane Thomas

In [30]:
df1['Bat1'].unique()

array(['DNB', '0*', '1*', '0', '1', '2*', '4*', '3', '7*', '8', '7', '3*',
       '10', 'TDNB', '20*', '26', '23*', '11*', '5*', '2', '5', '12',
       '20', '49', '92*', '25', '22', '11', '40*', '29', '53', '37', '34',
       '41', '42*', '59*', '9', '43', '18', '4', '6*', '46', '19', '16',
       '64*', '24', '27*', '13', '12*', '24*', '9*', '14*', '8*', '26*',
       '15*', '6', '21', '34*', '44', '10*', '19*', '31*', '27', '40',
       '25*', '13*', '14', '148', '47', '33', '35', '176*', '76', '31',
       '64', '66', '17', '101', '15', '71', '48*', '81', '51', '72', '23',
       '35*', '49*', '32', '123*', '95', '146*', '108*', '170', '109',
       '30', '87', '74', '127', '36', '38', '52', '125', '106', '94',
       '104*', '28*', '45*', '39', '79', '73', '67', '86', '60', '28',
       '100*', '72*', '55', '70', '54', '59', '50', '51*', '124', '102',
       '61', '33*', '58*', '42', '152', '85', '62', '84', '103', '140',
       '119', '153*', '112*', '152*', '60*', '132*', '99', '82', '132',
       '95*', '123', '58', '45', '133*', '85*', '92', '110*', '113',
       '122', '46*', '135', '80', '57', '88', '63', '37*', '63*', '215',
       '162', '77', '16*', '22*', '21*', '17*', '56', '68', '41*', '99*',
       '54*', '32*', '52*', '48', '30*', '78', '36*', '69*', '65', '80*',
       '47*', '39*', '44*', '18*', '116', '69', '89', '102*', '62*',
       '139*', '90', '81*', '87*', '75', '55*', '77*', '71*', '74*',
       '56*', '93', '70*', '67*', '111*', '79*', '97*', '78*', 'absent',
       'sub', '29*', '38*', '129', '66*', '150*', '97', '115*', '53*',
       '130*', '138*', '118*', '117*', '75*', '139', '50*', '110', '119*',
       '116*', '112', '150', '98', '100', '122*', '61*', '133', '159',
       '154', '128', '107', '178', '168*', '83', '121', '126', '96',
       '73*', '111', '105', '185', '91*', '120', '89*', '101*', '130',
       '57*', '43*', '115', '136*', '140*', '113*', '151', '114', '82*',
       '210*', '138', '118', '143', '86*', '108', '125*', '96*', '117',
       '106*', '128*', '131*', '107*', '105*', '88*', '181*', '137',
       '83*', '124*', '91', '103*', '189*', '237*', '93*', '180*', '104',
       '145*', '65*', '183*', '109*', '84*', '68*', '134', '90*', '141*',
       '209', '264', '171*', '147', '208*', '137*', '183', '136', '154*',
       '76*', '131', '160*', '129*', '157*', '180', '171', '127*', '144',
       '134*', '163', '173', '156', '179', '149', '164'], dtype=object)

In [31]:
df1['Bat1'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 11149 entries, 0 to 11148
Series name: Bat1
Non-Null Count  Dtype
--------------  -----
11149 non-null  object
dtypes: object(1)
memory usage: 87.2+ KB

In [38]:
a = '0*'
a

'0*'

In [37]:
a.split('*')[0]

'0'

In [ ]:
def separation(x):
    a = x.split("*")[0]
    if in a == "*":
        True

In [ ]:
df1['Bat1'] = df1['Bat1'].apply(lambda x : x.split("*")[0] )