In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Pandas\\AB_NYC_2019.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [4]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [5]:
pd.set_option('display.float_format',lambda x : '%.5f' %x)

In [6]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,48895.00000,48895.00000,48895.00000,48895.00000,48895.00000,48895.00000,48895.00000,38843.00000,48895.00000,48895.00000
mean,19017143.23618,67620010.64661,40.72895,-73.95217,152.72069,7.02996,23.27447,1.37322,7.14398,112.78133
std,10983108.38561,78610967.03267,0.05453,0.04616,240.15417,20.51055,44.55058,1.68044,32.95252,131.62229
min,2539.00000,2438.00000,40.49979,-74.24442,0.00000,1.00000,0.00000,0.01000,1.00000,0.00000
25%,9471945.00000,7822033.00000,40.69010,-73.98307,69.00000,1.00000,1.00000,0.19000,1.00000,0.00000
50%,19677284.00000,30793816.00000,40.72307,-73.95568,106.00000,3.00000,5.00000,0.72000,1.00000,45.00000
75%,29152178.50000,107434423.00000,40.76311,-73.93627,175.00000,5.00000,24.00000,2.02000,2.00000,227.00000
max,36487245.00000,274321313.00000,40.91306,-73.71299,10000.00000,1250.00000,629.00000,58.50000,327.00000,365.00000

In [7]:
import numpy as np
from scipy import stats

In [8]:
df['name'].isnull().sum()

16

In [9]:
df['name'].unique()

array(['Clean & quiet apt home by the park', 'Skylit Midtown Castle',
       'THE VILLAGE OF HARLEM....NEW YORK !', ...,
       'Sunny Studio at Historical Neighborhood',
       '43rd St. Time Square-cozy single bed',
       "Trendy duplex in the very heart of Hell's Kitchen"], dtype=object)

In [10]:
df['name'].mode()

0    Hillside Hotel
Name: name, dtype: object

In [11]:
df['name'].fillna("Hillside Hotel",inplace = True)

In [12]:
df['name'].isnull().sum()

0

In [13]:
df['last_review'].mode()

0    2019-06-23
Name: last_review, dtype: object

In [14]:
df['last_review'] = pd.to_datetime(df['last_review'])
df['last_review']

0       2018-10-19
1       2019-05-21
2              NaT
3       2019-07-05
4       2018-11-19
           ...
48890          NaT
48891          NaT
48892          NaT
48893          NaT
48894          NaT
Name: last_review, Length: 48895, dtype: datetime64[ns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48895 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.0+ MB

In [16]:
df['last_review'].fillna('2019-06-23',inplace=True)

In [17]:
df['last_review'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 48895 entries, 0 to 48894
Series name: last_review
Non-Null Count  Dtype
--------------  -----
48895 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 382.1 KB

In [18]:
df.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                           0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [19]:
df['host_name'].mode()

0    Michael
Name: host_name, dtype: object

In [20]:
df['host_name'].fillna("Michael",inplace = True)

In [21]:
df['host_name'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 48895 entries, 0 to 48894
Series name: host_name
Non-Null Count  Dtype
--------------  -----
48895 non-null  object
dtypes: object(1)
memory usage: 382.1+ KB

In [22]:
df['reviews_per_month'].mean()

1.3732214298586618

In [23]:
df['reviews_per_month'].median()

0.72

In [24]:
df['reviews_per_month'].describe()

count   38843.00000
mean        1.37322
std         1.68044
min         0.01000
25%         0.19000
50%         0.72000
75%         2.02000
max        58.50000
Name: reviews_per_month, dtype: float64

In [25]:
# To find the percentage another different method by using outliers
max_reviews_per_month = df.reviews_per_month.quantile(0.99)
max_reviews_per_month

7.195800000000018

In [26]:
maximum_review = df[df.reviews_per_month > max_reviews_per_month]
maximum_review

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1614,732700,Centrally located and spacious apt.,3815537,Reshma,Manhattan,Midtown,40.75154,-73.97104,Entire home/apt,106,7,10,2019-07-06,10.00000,1,0
1627,741154,Beautiful duplex loft with Skylight,1406458,Nancy,Manhattan,Tribeca,40.71778,-74.00452,Entire home/apt,210,14,10,2019-07-04,10.00000,1,0
2015,891117,Private Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82264,-73.94041,Private room,49,1,594,2019-06-15,7.57000,3,339
2030,903947,Beautiful Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82124,-73.93838,Private room,49,1,597,2019-06-23,7.72000,3,342
2031,903972,Great Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82085,-73.94025,Private room,49,1,607,2019-06-21,7.75000,3,293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46939,35496676,Cozy Private Bedroom in Upper West Side,266522456,Aaron,Manhattan,Upper West Side,40.80140,-73.96563,Private room,130,1,9,2019-07-07,9.00000,3,79
46951,35508218,Garden Flat,155137506,Dandey,Queens,Laurelton,40.68129,-73.74745,Entire home/apt,85,1,8,2019-07-06,8.00000,1,166
47161,35613002,Manhattan ☯ Brooklyn | Best of Both❤️,267680159,Alex,Manhattan,Lower East Side,40.71261,-73.98857,Entire home/apt,300,1,8,2019-06-30,8.00000,1,213
47252,35655950,Gorgeous Super Clean Guest Suite,80443454,Kathryn,Queens,Kew Gardens Hills,40.71708,-73.82411,Private room,74,1,10,2019-07-07,10.00000,1,160
47434,35733228,Relax comfortably 1BR w/AC in the Heart of Que...,268784513,Amit,Queens,East Elmhurst,40.75938,-73.88219,Private room,70,1,8,2019-07-07,8.00000,3,342